body {
background-color: cyan;
background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210127/pngtree-blue-black-abstract-technology-circuit-background-image_541440.jpg");
background-size: 700px;
background-position: center;
background-repeat: no-repeat, repeat;
}

.h1center {
font-family: Comic Sans MS;
padding: auto;
margin: auto;
text-align: center;
color: white;
}

.button {
 font-family: Comic Sans MS;
 font-weight: bold;
 background-color: black;
 color: white;
 margin: 100px;
 border: 60%;
 padding: 15px 50px;
}

button:hover {
  cursor: pointer;
  background-image: url("https://img.freepik.com/premium-vector/abstract-technology-blue-circuit-board-pattern-background_501557-609.jpg");
  border-color: white;
}

.h1center {
  text-align: center;
}

#container {
  text-align: center;
}

.img1 {
  position: absolute;
}
