body {
  background-color: cyan
}

h1 {
font-family: Comic Sans MS
padding: 70px;
margin: auto;
width: 60%;
}

.div-button {
  border: 3px solid #73AD21;
  padding-left: 180px;
}
  

.h1center {
  text-align: center
}
